In [66]:
from scipy.stats import expon
from scipy.stats import norm
import numpy as np
import pandas as pd

In [117]:
drip_random = norm.rvs(loc=120, scale=60, size=100)
arrive_random = expon.rvs(scale=120, size=100).tolist()

In [75]:
def remove_negative_value(value):
    return value if value > 0 else -value

In [123]:
df = pd.DataFrame([arrive_random,drip_random]).T.rename(columns={0:"arrive_time",1:"operation_time"})
df["operation_time"] = df["operation_time"].map(remove_negative_value)
df["arrive_time_cumsum"] = df["arrive_time"].cumsum()
# df["operation_time_cumsum"] = (df["operation_time"]+df["arrive_time"][0]).cumsum()
df["operation+arrival"] = df["arrive_time_cumsum"] + df["operation_time"]
df["real_time"] = operation_and_arrival
df.head(20)

,arrive_time,operation_time,arrive_time_cumsum,operation+arrival,real_time
0,199.388302,202.506646,199.388302,401.894948,199.388302
1,104.725918,101.962572,304.114220,406.076792,406.076792
2,0.511895,72.900892,304.626115,377.527007,478.977683
3,659.928706,122.153906,964.554821,1086.708727,1086.708727
4,224.317361,101.436903,1188.872182,1290.309085,1290.309085
5,214.349738,59.515720,1403.221921,1462.737640,1462.737640
6,71.039315,79.452788,1474.261236,1553.714024,1553.714024
7,166.492001,116.303021,1640.753237,1757.056258,1757.056258
8,305.598092,112.597339,1946.351329,2058.948668,2058.948668
9,35.143158,171.205485,1981.494488,2152.699973,2230.154153
10,312.603468,259.836566,2294.097956,2553.934522,2553.934522
11,27.106534,137.583330,2321.204490,2458.787820,2691.517851
12,126.181494,176.225926,2447.385984,2623.611910,2867.743777
13,34.904673,48.163479,2482.290657,2530.454136,2915.907256
14,88.669945,139.108032,2570.960602,2710.068633,3055.015287
15,58.473907,275.378982,2629.434509,2904.813491,3330.394269
16,245.102443,39.862795,2874.536952,2914.399747,3370.257064
17,71.111034,201.482539,2945.647985,3147.130524,3571.739603
18,210.844514,177.376306,3156.492500,3333.868805,3749.115909
19,8.245369,106.666221,3164.737869,3271.404089,3855.782129

In [121]:
arrival_time_cumsum_list = df["arrive_time_cumsum"]
operation_time_list = df["operation_time"]
operation_and_arrival = [df["arrive_time"][0]]
for idx, (arrival_time, opt_time) in enumerate(zip(arrival_time_cumsum_list[1:], operation_time_list[1:])):
    if arrival_time < operation_and_arrival[idx]:
        operation_and_arrival.append(operation_and_arrival[idx] + opt_time)
    else:
        operation_and_arrival.append(arrival_time + opt_time)

In [126]:
(df["real_time"] - df["arrive_time_cumsum"]).mean()

754.3347116343813